{% extends 'base.html.twig' %}

{% block title 'Gérer les voitures' %}

{% block body %}
    <div class="container mt-4">

        <h1>Vue Admin</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                <tr>
                    <td>{{ car.name }}</td>
                    <td><a href="{{ path('admin.car.create') }}" class="btn btn-secondary">Editer</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.car.new') }}" class="btn btn-primary">Enregistrer une nouvelle voiture</a>
        </div>
    </div>

{% endblock %}