{% extends 'base.html.twig' %}

{% block title 'Voiture engristrée' %}

{% block body %}
    <h2 align="center">Nouvelle voiture enregistré ! Allez dans l'onglet "Voitures" afin de voir votre voiture !</h2>
{% endblock %}